@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.structure.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.theme.css" rel="stylesheet" />

<div class="container body-content">
    <header class="help-page">
        <div class="content-wrapper">
            <div class="float-left">
                <h1>Daily report</h1>
            </div>
        </div>
    </header>

    @using (Html.BeginForm(null, null, FormMethod.Get, new { @id = "dailyRaportForm" }))
    {

        <div class="col-md-6 col-sm-6">
            <div class="form-group">
                <label for="start_date" class="control-label">Start date:</label>
                <input type="text" class="datepicker form-control" name="start_date" placeholder="Select date" />
            </div>
            <div class="form-group">
                <label for="end_date" class="control-label">End date:</label>
                <input type="text" class="datepicker form-control" name="end_date" placeholder="Select date" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Report</button>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 hidden" id="reportContainer">
            <div class="form-group">
                <label for="totalDistance" class="control-label text-muted">Total distance:</label>
                <input type="text" id="totalDistance" class="form-control" name="totalDistance" placeholder="" readonly="readonly"/>
            </div>
            <div class="form-group">
                <label for="totalPrice" class="control-label text-muted">Total price:</label>
                <input type="text" id="totalPrice" name="totalPrice" class="form-control" placeholder="" readonly="readonly" />
            </div>
        </div>  
    }
</div>



<script type="text/javascript">
    $(function () {
        $(".datepicker").datepicker({
            dateFormat: 'yy-mm-dd'
        });
    })

    $("#dailyRaportForm").submit(function (ev) {
        ev.preventDefault();

        $("#reportContainer").addClass("hidden");
        $("#totalDistance").val("");
        $("#totalPrice").val("");

        $.getJSON({
            type: "GET",
            url: "/reports/daily",
            data: $("#dailyRaportForm").serialize(),
            success: function (data) {
                console.log(data["total_distance"]);
                $("#totalDistance").val(data["total_distance"] + "km");
                $("#totalPrice").val(data["total_price"] + "PLN");
                $("#reportContainer").removeClass("hidden");
            },
            error: function (msg) {
                $("#reportContainer").addClass("hidden");
                $("#totalDistance").val("");
                $("#totalPrice").val("");
            }
        })
    });
</script>
