@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <ul class="list-group">
        <li class="list-group-item active">
            TODO
        </li>
        <li class="list-group-item">
            Input validation on udate route partial page
        </li>
        <li class="list-group-item">
            Comments in Web API
        </li>
        <li class="list-group-item">
            Asynchronous Web API calls
        </li>
    </ul>
</div>

