@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            Model validation on udate route partial page
        </li>
        <li class="list-group-item">
            Comments in Web API
        </li>
        <li class="list-group-item">
            Asynchronous web api calls
        </li>
    </ul>
</div>

